{% extends 'investmentapp/base.html' %}

{% block content %}
    <!-- Main Content for About Page -->
    <div class="container mt-4">
        <h1>About Our Investment App</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in neque nec nunc facilisis cursus a in ante. Donec vehicula dapibus eros, at accumsan velit dignissim ac. Sed euismod, justo nec feugiat aliquet, tortor ipsum tincidunt ex, in gravida dolor neque eu sem.
        </p>
        <p>
            Vestibulum hendrerit enim ut quam gravida, sit amet vestibulum orci ultrices. Nulla facilisi. Curabitur tincidunt, purus sit amet malesuada dictum, nunc justo luctus quam, vel sollicitudin libero lectus sed nulla. Aenean congue augue nec felis rhoncus efficitur.
        </p>
    </div>

 {% endblock %}